<!-- app/templates/fornecedores/create.html -->
{% extends "base.html" %}
{% block title %}Cadastrar Fornecedor{% endblock %}
{% block content %}
<h1>Cadastrar Fornecedor</h1>
<form method="POST" action="{{ url_for('fornecedores.listar_fornecedores') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.id.label }} {{ form.id(class="form-control") }}
        {% for error in form.id.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.nome.label }} {{ form.nome(class="form-control") }}
        {% for error in form.nome.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.pessoa_de_contato.label }} {{ form.pessoa_de_contato(class="form-control") }}
        {% for error in form.pessoa_de_contato.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.whatsapp.label }} {{ form.whatsapp(class="form-control") }}
        {% for error in form.whatsapp.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}